* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Shared style*/

.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.btn {
    background-color: #30B868;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    border-radius: 4px;
    width: 164px;
    padding: 12px 16px;
    border: none;
    cursor: pointer;

}

.btn2 {
    color: #FFFFFF;
    padding: 12px 16px;
    border-radius: 4px;
    width: 198px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid white;




}

.btn3 {

    background-color: #30B868;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    border-radius: 4px;
    width: 251px;
    padding: 12px 16px;
    border: none;
    cursor: pointer;



}

.earlyA {
    background-color: #FFFFFF;
    width: 229px;
    border-radius: 4px;
    width: 164px;
    padding: 12px 16px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
}

.common-small-font {
    font-size: 16px;
    line-height: 20px;
    color: #627382;

}

.icons {
    background-color: #F95555;
    color: #FFFFFF;
    border-radius: 50%;

}

/*main style*/
header {
    background-color: #FFFFFF;
    gap: 40px;


}

nav {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;


}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;

}

nav .menu a {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
    text-align: center;
    line-height: 152%;

}

#Banner {
    /*border: 1px solid red;*/
    align-items: center;
    background-image: url(/assets/hero-bg.png);
    background-position: center;
    padding: 70px 120px 134px 120px;



}

.banner-content .banner-part1 {
    text-align: center;
    margin: 0 auto;
    /* border: 1px solid blue;*/

}

.banner-part1 button {
    width: 231px;
    border-radius: 1000px;
    background-color: #FFFFFF;
    color: #30B868;


}

.banner-part1 h1 {
    width: 770px;
    margin: 0 auto;
    border: 0;

}

.banner-part1 h1 .color1 {
    width: 770px;
    color: #ffffffe3;
}

.banner-part1 h1 .color2 {
    width: 770px;
    color: #30b869dc;
}




.banner-part1 p {
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 16px;
    margin-bottom: 32px;
    font-weight: 300;
}


.banner-content .banner-part2 {
    text-align: center;
    margin: 0 auto;
    border: 0;
}

#sector-one {
    width: 100%;
    max-width: 1600px;
    padding: 120px 120px 120px 120px;
}

#sector-one .sector-heading {
    /* border: 1px solid red; */
    width: 1360px;
    text-align: center;
    gap: 16px;
    margin-bottom: 44px;
}

#sector-one .sector-heading h3 {
    color: #001931;
    font-size: 48px;
    font-weight: bold;

}

#sector-one .sector-one-card {
    /* border: 1px solid blue; */
    width: 1360px;
    height: 300px;
    gap: 24px;
    display: flex;
    justify-content: center;
}

#sector-one .sector-one-card .card {
    gap: 16px;
    /* border: 1px solid green;*/
    text-align: center;
    border-radius: 8px;
}

.card img {
    margin: 70px 131px 0 131px;
}

.card h4 {
    width: 274px;
    margin-left: 24px;
    margin-right: 24px;
}

.card p {
    width: 274;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 70px;
}

#sector-two {
    width: 1600px;
    padding: 0 120px 120px 120px;
    /* border: 2px solid red; */
}

#sector-two .img-solution {
    width: 1360px;
    display: flex;
    justify-content: left;
    gap: 60px;
}

#sector-two .img-solution .big-img {
    width: 600px;
    height: 600px;
    border-radius: 12px;

}

#sector-two .solution-part {

    width: 700px;
    gap: 40px;
    /* border: 1px solid blue; */
    margin-top: 102px;
    margin-bottom: 102px;
    align-items: top left;
}

.solution-part .heading {
    gap: 16px;
    width: 700px;

}

.solution-part .heading .solution {
    color: #30B868;
    font-size: 16px;
    line-height: 20px;
}

.solution-part .heading h3 {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
}

.solution-part .dtails {
    gap: 16px;
    width: 700px;
    /* border: 1px solid red; */
    margin-top: 40px;



}

.solution-part .dtails p {
    width: 382px;
    font-size: 16px;
    line-height: 20px;
    color: #001931;


}



#sector-three {
    width: 1600px;
    padding: 2px 120px 120px 120px;
    /* border: 1px solid red; */
}

#sector-three .parts {
    width: 1360px;
    height: 384px;
    padding: 80px 40px;
    text-align: center;
    /* border: 2px solid blue; */
    border-radius: 12px;
    background-color: #F7F6F2;
    gap: 24px;
}

.parts .part-one {
    width: 1280px;
    gap: 16px;
    /* border: 1px solid green; */
    margin-bottom: 24px;


}

.parts .part-one h3 {
    font-size: 40px;
    color: #001931;
}

.parts .part-one p {

    font-size: 16px;
    line-height: 24px;
    color: #627382;

}

#sector-three .parts .part-two {
    /* border: 1px solid rgb(255, 0, 242); */
    gap: 16px;
    height: 88px;
    width: 1280px;

}

.part-two button {
    background-color: #469165;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    border-radius: 4px;
    width: 194px;
    height: 52px;
    border: none;
    cursor: pointer;
    box-shadow: 0 10px 20px #0000005d;
    margin: 17px 46px 17px 16px;
}


footer {
    width: 1600px;
    height: 384px;
    /* border: 2px solid red; */
    padding: 120px 120px 30px 120px;
    background-color: #001931;


}

footer .main-container {

    /* border: 2px solid gold; */
    gap: 80px;

}

.main-container .end-one {
    display: flex;
    justify-content: space-between;
    width: 1360px;
    height: 64px;
    margin-bottom: 80px;

}

.end-one image {
    width: 139px;
    height: 60px;

}

.end-one .links {
    width: 220px;
    height: 64px;

}

.end-one p {
    text-align: top;
    color: #FFFFFF;
    margin-bottom: 16px;

}

.end-one .links a {

    color: #FFFFFF;


}

footer .main-container .end-two {
    width: 1360px;
    height: 54px;
}

footer .main-container .end-two p {
    margin-top: 30px;
    font-size: 16px;
    line-height: 20px;
    color: #FAFAFA;
    text-align: center;

}